ProjectTemplate.WCF.Client/Service References/TaskService/TaskService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjectTemplate.WCF.DataTransferObjects" />
      <xsd:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ProjectTemplate.Domain.Enumerations" />
      <xsd:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ProjectTemplate.Application.Requests" />
      <xsd:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ProjectTemplate.Domain.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_ValidateRaise_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateRaise" />
  </wsdl:message>
  <wsdl:message name="ITaskService_ValidateRaise_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateRaiseResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_Raise_InputMessage">
    <wsdl:part name="parameters" element="tns:Raise" />
  </wsdl:message>
  <wsdl:message name="ITaskService_Raise_OutputMessage">
    <wsdl:part name="parameters" element="tns:RaiseResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaskService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/GetAll" message="tns:ITaskService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/GetAllResponse" message="tns:ITaskService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/GetById" message="tns:ITaskService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/GetByIdResponse" message="tns:ITaskService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateRaise">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/ValidateRaise" message="tns:ITaskService_ValidateRaise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/ValidateRaiseResponse" message="tns:ITaskService_ValidateRaise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Raise">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/Raise" message="tns:ITaskService_Raise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/RaiseResponse" message="tns:ITaskService_Raise_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITaskService" type="tns:ITaskService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ITaskService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/ITaskService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateRaise">
      <soap:operation soapAction="http://tempuri.org/ITaskService/ValidateRaise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Raise">
      <soap:operation soapAction="http://tempuri.org/ITaskService/Raise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskService">
    <wsdl:port name="BasicHttpBinding_ITaskService" binding="tns:BasicHttpBinding_ITaskService">
      <soap:address location="http://localhost:60716/TaskService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>