ProjectTemplate.WCF.Client/Service References/TaskService/TaskService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjectTemplate.WCF.DataTransferObjects" />
  <xs:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ProjectTemplate.Application.Requests" />
  <xs:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ProjectTemplate.Domain.Common" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProjectTemplate.WCF.DataTransferObjects" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfTaskDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProjectTemplate.WCF.DataTransferObjects" minOccurs="0" name="GetByIdResult" nillable="true" type="q3:TaskDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateRaise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProjectTemplate.Application.Requests" minOccurs="0" name="request" nillable="true" type="q4:RaiseTaskRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateRaiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProjectTemplate.Domain.Common" minOccurs="0" name="ValidateRaiseResult" nillable="true" type="q5:ArrayOfValidationMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Raise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProjectTemplate.Application.Requests" minOccurs="0" name="request" nillable="true" type="q6:RaiseTaskRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RaiseResult" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>