ProjectTemplate.WCF.Client/Service References/TaskService/TaskService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ProjectTemplate.Application.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjectTemplate.Application.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60716/TaskService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RaiseTaskRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedToId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RaiseTaskRequest" nillable="true" type="tns:RaiseTaskRequest" />
</xs:schema>